body {
  background-color: rgba(161, 157, 151, 0.555);
  width: 100%;
}
h1 {
  text-align: center;
}
.gras {
  font-weight: bolder;
  display: flex;
  padding-left: 10px;
}
.msg {
  font-weight: bolder;
  display: flex;
  padding-left: 2px;
}

.background {
  background-color: rgb(255, 255, 255);
  margin-left: 30%;
  margin-right: 30%;
  height: 100%;
  margin-top: 4%;
  padding-left: 30px;
}

h1 {
  margin-bottom: 5vh;
}
.sub {
  width: 60%;
  margin-bottom: 5%;
}
button {
  color: aliceblue;
  display: flex;
  background-color: #4bb051;
  margin-top: 10%;
  margin-left: 20px;
}
.check {
  display: flex;
  margin-left: 10%;
  margin-top: 1%;
}
