.background {
  background: url("./img/back.jpg") no-repeat center/cover;
  height: 100vh;
  width: 100%;
}

h1 {
  text-align: center;
  color: aliceblue;
  font-size: 2em;
  padding-top: 3em;
}

section {
  text-align: left;
  color: aliceblue;
  margin-top: 8rem;
}

.box {
  background-size: 150px;
  background-color: rgba(1, 3, 2, 0.568);
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  height: 15vh;
  border: 2px solid;
}

footer {
  margin-top: 21vh;
  height: 8vh;
  background-color: black;
  text-align: center;
  color: aliceblue;
  padding-top: 1rem;
}
