@font-face {
  font-family: "bungeeSpice-Regular";
  src: url("./font/BungeeSpice-Regular.ttf") format("truetype");
}

.titre1 {
  color: rgba(2, 2, 85, 0.842);
  text-align: center;
}

.sous-titre {
  color: rgb(83, 83, 83);
  text-align: center;
}

.marge-gauche {
  margin-left: 20px;
}
.titre2 {
  color: rgb(4, 67, 139);
}

hr {
  border-bottom: 1px solid rgb(150, 141, 141);
  margin-right: 20px;
  margin-left: 20px;
}

#typo {
  color: rgb(70, 95, 95);
}

.bungee-spice-regular {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.small {
  font-size: small;
  font-family: "bungeeSpice-Regular";
}
.citation {
  margin-left: 10px;
  font-style: italic;
  color: darkred;
}

.steve {
  font-size: x-small;
  color: darkgrey;
}

.mep {
  border-left: solid 2px;
  border-left-color: black;
  margin-left: 30px;
}

h3 {
  color: rgb(36, 36, 82);
}
.gras {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.maj {
  text-transform: uppercase;
}
.spacing {
  letter-spacing: 10px;
}
#center {
  text-align: center;
}
.line {
  line-height: 3cm;
}
.under {
  text-decoration: wavy underline rgb(23, 37, 240);
}
footer {
  border-top: solid 2px;
  border-top-color: rgb(87, 82, 82);
  text-align: center;
  line-height: 2cm;
  margin-top: 2cm;
}
.footer {
  color: gray;
}
